body, html {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url(./CarWebAppDao/resources/img/error.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
h1 {
    font-size:50px;
    color: red;
    text-align: center;
    margin-top: 5%

}
a {
    display: inline-block;
    text-decoration: none;
    color: window;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #FF0000;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #FF0000;
}